#salad {
  color: green;
  font-size: 36px;
  margin: 0 auto;
}

p {
  background-color: yellow;
  font-size: 24px;
  display: inline;
}

ol,
ul {
  font-size: 24px;
}

body {
  text-align: center;
}

h1 {
  display: block;
  margin: 0 auto;
}

h2 {
  display: block;
  margin: 0 auto;
}
